# A * ensures that everything will be ignored.
#*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token
tts


# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

.HA_VERSION
home-assistant.log
home-assistant_v2.db
glances/*

home-assistant_v2.db-shm
home-assistant_v2.db-wal

# log files
home-assistant.log*

image/*

