- id: '1619299637337'
  alias: Pause movie when fireplace light on
  description: Pause movie when fireplace light on
  use_blueprint:
    path: jfedor/pause-movie-when-light-is-switched-on.yaml
    input:
      media_player: media_player.living_room
      light: switch.fireplace_light_relay
      timeout: 6
- id: '1633902903431'
  alias: Irrigation Pump - turn ON
  description: "Activates the \x7Firrigation pump"
  triggers:
  - at: '18:01:00'
    trigger: time
  conditions: []
  actions:
  - data:
      title: Irrigation alert
      message: Irrigation will start in 30 seconds
    action: notify.telegram
  - delay:
      hours: 0
      minutes: 0
      seconds: 30
      milliseconds: 0
  - type: turn_on
    device_id: 5659a6ebcaae86d3282023e3b2b80bb2
    entity_id: switch.irrigation_pump_relay
    domain: switch
  - delay:
      hours: 0
      minutes: 1
      seconds: 0
      milliseconds: 0
  - type: turn_off
    device_id: 5659a6ebcaae86d3282023e3b2b80bb2
    entity_id: switch.irrigation_pump_relay
    domain: switch
  mode: single
- id: '1633902953506'
  alias: Irrigation Pump - periodic safety turn OFF
  description: "Deactivates the \x7Firrigation pump"
  trigger:
  - platform: time_pattern
    minutes: /7
    seconds: '30'
    hours: '*'
  condition: []
  action:
  - type: turn_off
    device_id: 5659a6ebcaae86d3282023e3b2b80bb2
    entity_id: switch.irrigation_pump_relay
    domain: switch
  mode: single
- id: '1651531753854'
  alias: Wake-up light alarm [01-R]
  description: ''
  use_blueprint:
    path: sbyx/wake-up-light-alarm-with-sunrise-effect.yaml
    input:
      manual_time: 06:00:00
      light_entity: light.rafael_lights
      sunrise_duration: 15
      end_brightness: 255
      pre_sunrise_actions:
      - target:
          entity_id: scene.01r_light_pre_alarm_mode
        metadata: {}
        action: scene.turn_on
        data: {}
      timestamp_sensor: none
      check_entity: sensor.rafael_wakeup_should_run
- id: '1651602009310'
  alias: Wake-up light alarm [02-G]
  description: ''
  use_blueprint:
    path: sbyx/wake-up-light-alarm-with-sunrise-effect.yaml
    input:
      manual_time: 06:05:00
      light_entity: light.wakeup_light_02g
      sunrise_duration: 15
      end_brightness: 255
      pre_sunrise_actions:
      - service: scene.turn_on
        target:
          entity_id: scene.02g_light_pre_alarm_mode
        metadata: {}
      timestamp_sensor: none
      check_entity: sensor.gabriela_wakeup_should_run
- id: '1653415482777'
  alias: Wake up lights - turn them all off
  description: ''
  triggers:
  - at: 07:10:00
    trigger: time
  conditions: []
  actions:
  - type: turn_off
    device_id: 131e6b8137a459190bce5c449564c686
    entity_id: light.wakeup_light_02g
    domain: light
  - metadata: {}
    data:
      transition: 5
    target:
      entity_id: light.rafael_lights
    action: light.turn_off
  - action: light.turn_off
    metadata: {}
    target:
      device_id: 0a96aa6d9a590bab9bf170d253b79ac8
    data: {}
  mode: single
- id: '1718114380399'
  alias: Daily reboot of the host system
  description: Reboot the host every day, to work around memory issues
  trigger:
  - platform: time
    at: 03:00:00
  condition: []
  action:
  - service: hassio.host_reboot
    metadata: {}
    data: {}
  mode: single
- id: '1756409157193'
  alias: Turn off WakeUpLight_01R when wledRafael is turned off
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - light.wledrafael
    from: 'on'
    to: 'off'
  conditions: []
  actions:
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: light.wakeup_light_01r
  mode: single
- id: '1771443101236'
  alias: Wake-up light alarm [03-C]
  description: ''
  use_blueprint:
    path: sbyx/wake-up-light-alarm-with-sunrise-effect.yaml
    input:
      light_entity: light.wakeup_light_03c
      check_entity: sensor.claudio_wakeup_should_run
      sunrise_duration: 20
      end_brightness: 255
      manual_time: 05:40:00
      pre_sunrise_actions:
      - action: scene.turn_on
        metadata: {}
        target:
          entity_id: scene.03_c_light_to_pre_alarm_mode
        data: {}
