homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  country: !secret home_country
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret home_elevation
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Sao_Paulo
  # Customization file
  customize: !include customize.yaml

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:


# load themes from a subfolder containing configs:
frontend:
   #themes: !include_dir_merge_named themes/


# Sun integration - local sunrise and sunset times
# for using with the 'sun-card' from https://github.com/AitorDB/home-assistant-sun-card/
sun:



# ----------------------------------------------------------------------------------
# Recorder configuration - limit which entities have history preserved
# ----------------------------------------------------------------------------------
recorder:
  auto_purge: true
  purge_keep_days: 14
  commit_interval: 30
  include:
    entities:
      - sensor.balcony_humidity
      - sensor.balcony_temperature
      - sensor.balcony_02_pressure
      - sensor.balcony_02_temperature_bmp
      - sensor.living_room_02_temperature
      - sensor.freezer_internal_temperature
      - sensor.freezer_external_temperature
      - sensor.fridge_main_temperature
      - sensor.fridge_freezer_temperature
      - sensor.memory_use_percent
      - sensor.system_monitor_processor_use
      - light.wakeup_light_01r
      - light.wakeup_light_02g
      - switch.irrigation_pump_relay
      - switch.fireplace_light_relay
      - sensor.problem_status
      - sensor.wledescritorio_uptime_minutes
      - sensor.wledrafael_uptime_minutes
      - sensor.waze_travel_time_home_to_work
      - sensor.waze_travel_time_work_to_home


# ----------------------------------------------------------------------------------
# InfluxDB configuration
# ----------------------------------------------------------------------------------
influxdb:
  host: a0d7b954-influxdb
  port: 8086
  database: homeassistant
  username: homeassistant
  password: !secret influxdb_password
  max_retries: 3
  default_measurement: state
  include:
    entities:
      - sensor.balcony_humidity
      - sensor.balcony_temperature
      - sensor.balcony_02_pressure
      - sensor.balcony_02_temperature_bmp
      - sensor.living_room_02_temperature
      - sensor.freezer_internal_temperature
      - sensor.freezer_external_temperature
      - sensor.fridge_main_temperature
      - sensor.fridge_freezer_temperature
      - sensor.waze_travel_time_home_to_work
      - sensor.waze_travel_time_work_to_home
  component_config_glob:
    sensor.*humidity:
      override_measurement: humidity
    sensor.*temperature:
      override_measurement: temperature
    sensor.*temperature_bmp:
      override_measurement: temperature
    sensor.*pressure:
      override_measurement: pressure



# ----------------------------------------------------------------------------------
# Sensors
# ----------------------------------------------------------------------------------
sensor:

  # --------------------------------------------
  # Statistics derived from other sensor data
  # --------------------------------------------

  # Min/max temperatures, internal and external
  
  - platform: statistics
    name: "Balcony maximum temperature over 24h"
    entity_id: sensor.balcony_temperature
    unique_id: balcony_max_temp_24h
    state_characteristic: value_max
    max_age:
      hours: 24

  - platform: statistics
    name: "Balcony minimum temperature over 24h"
    entity_id: sensor.balcony_temperature
    unique_id: balcony_min_temp_24h
    state_characteristic: value_min
    max_age:
      hours: 24

  - platform: statistics
    name: "Living Room maximum temperature over 24h"
    entity_id: sensor.living_room_02_temperature
    unique_id: living_room_max_temp_24h
    state_characteristic: value_max
    max_age:
      hours: 24

  - platform: statistics
    name: "Living Room minimum temperature over 24h"
    entity_id: sensor.living_room_02_temperature
    unique_id: living_room_min_temp_24h
    state_characteristic: value_min
    max_age:
      hours: 24


  # Timestamp for when the min/max values last got updated
  
  - platform: statistics
    name: "Balcony maximum temperature timestamp"
    entity_id: sensor.balcony_temperature
    unique_id: balcony_max_temp_timestamp
    state_characteristic: datetime_value_max
    max_age:
      hours: 24

  - platform: statistics
    name: "Balcony minimum temperature timestamp"
    entity_id: sensor.balcony_temperature
    unique_id: balcony_min_temp_timestamp
    state_characteristic: datetime_value_min
    max_age:
      hours: 24

  - platform: statistics
    name: "Living Room maximum temperature timestamp"
    entity_id: sensor.living_room_02_temperature
    unique_id: living_room_max_temp_timestamp
    state_characteristic: datetime_value_max
    max_age:
      hours: 24

  - platform: statistics
    name: "Living Room minimum temperature timestamp"
    entity_id: sensor.living_room_02_temperature
    unique_id: living_room_min_temp_timestamp
    state_characteristic: datetime_value_min
    max_age:
      hours: 24




  # Date/Time sensor is used to allow automation templates which get triggered (re-evaluated) every minute
  - platform: time_date
    display_options:
    - "date_time_utc"
    - "date_time_iso"
    - "date"


# availability-based indication of problems with the sensors
  - platform: template
    sensors:
      problem_check:
        value_template: >-
          {% if ((as_timestamp(now()) - as_timestamp(states('sensor.uptime'))) > 60) %}
          {{ 
             is_state('sensor.balcony_uptime', 'unavailable') or 
             is_state('sensor.balcony_02_uptime', 'unavailable') or 
             is_state('sensor.fireplace_light_uptime', 'unavailable') or 
             is_state('sensor.wake_up_light_01_r_uptime', 'unavailable') or 
             is_state('sensor.wake_up_light_02_g_uptime', 'unavailable') or 
             is_state('sensor.wledescritorio_uptime', 'unavailable') or
             ( (now() - states.sensor.balcony_uptime.last_updated).total_seconds() > 600) or
             ( (now() - states.sensor.balcony_02_uptime.last_updated).total_seconds() > 600) or
             ( (now() - states.sensor.fireplace_light_uptime).total_seconds() > 600) or
             ( (now() - states.sensor.wake_up_light_01_r_uptime).total_seconds() > 600) or
             ( (now() - states.sensor.wake_up_light_02_g_uptime).total_seconds() > 600) or
             ( (now() - sensor.wledescritorio_uptime).total_seconds() > 600)
          }}
          {% endif %}
      problem_status:
        value_template: >-
          {% if states.sensor.problem_check %}
             {% if states.sensor.problem_check.state == "True" %}
                Problem
             {% else %}
                Ok
             {% endif %}
          {% else %}
            N/A
          {% endif %}
        attribute_templates:
          Balcony_01: '{% if is_state("sensor.balcony_uptime", "unavailable") %} Unavailable {% else %} {% if ( (now() - states.sensor.balcony_uptime.last_updated).total_seconds() > 600) %} Stale {% else %} OK {% endif %} {% endif %}' 
          Balcony_02: '{% if is_state("sensor.balcony_02_uptime", "unavailable") %} Unavailable {% else %} {% if ( (now() - states.sensor.balcony_02_uptime.last_updated).total_seconds() > 600) %} Stale {% else %} OK {% endif %} {% endif %}'
          Fireplace_light: '{% if is_state("sensor.fireplace_light_uptime", "unavailable") %} Unavailable {% else %} {% if ( (now() - states.sensor.fireplace_light_uptime.last_updated).total_seconds() > 600) %} Stale {% else %} OK {% endif %} {% endif %}'
          Freezer: '{% if is_state("sensor.freezer_uptime", "unavailable") %} Unavailable {% else %} {% if ( (now() - states.sensor.freezer_uptime.last_updated).total_seconds() > 600) %} Stale {% else %} OK {% endif %} {% endif %}'
          Irrigation_pump: '{% if is_state("sensor.irrigation_pump_uptime", "unavailable") %} Unavailable {% else %} {% if ( (now() - states.sensor.irrigation_pump_uptime.last_updated).total_seconds() > 600) %} Stale {% else %} OK {% endif %} {% endif %}'
          Wake_up_light_01R: '{% if is_state("sensor.wake_up_light_01_r_uptime", "unavailable") %} Unavailable {% else %} {% if ( (now() - states.sensor.wake_up_light_01_r_uptime.last_updated).total_seconds() > 600) %} Stale {% else %} OK {% endif %} {% endif %}'
          Wake_up_light_02G: '{% if is_state("sensor.wake_up_light_02_g_uptime", "unavailable") %} Unavailable {% else %} {% if ( (now() - states.sensor.wake_up_light_02_g_uptime.last_updated).total_seconds() > 600) %} Stale {% else %} OK {% endif %} {% endif %}'
          WLed_Escritorio: '{% if is_state("sensor.wledescritorio_uptime", "unavailable") %} Unavailable {% else %} {% if ( (now() - states.sensor.wledescritorio_uptime.last_updated).total_seconds() > 1200) %} Stale {% else %} OK {% endif %} {% endif %}'
          WLed_Rafael: '{% if is_state("sensor.wledrafael_uptime", "unavailable") %} Unavailable {% else %} {% if ( (now() - states.sensor.wledrafael_uptime.last_updated).total_seconds() > 1200) %} Stale {% else %} OK {% endif %} {% endif %}'
        friendly_name: Status


  # determine if Rafael's wake-up light should run today:
  - platform: template
    sensors:
      rafael_wakeup_should_run:
        value_template:  >
          {% set sensor_names = [ 'monday', 'tuesday', 'wednesday','thursday','friday','saturday','sunday'] %}
          {% set today_name = sensor_names[now().weekday()] %}
          {% set entity_id = 'input_boolean.rafael_wakeup_'+today_name %}
          {{ is_state('input_boolean.rafael_wakeup_enabled', 'on') and is_state(entity_id, 'on') }}

  # determine if Gabriela's wake-up light should run today:
  - platform: template
    sensors:
      gabriela_wakeup_should_run:
        value_template:  >
          {% set sensor_names = [ 'monday', 'tuesday', 'wednesday','thursday','friday','saturday','sunday'] %}
          {% set today_name = sensor_names[now().weekday()] %}
          {% set entity_id = 'input_boolean.gabriela_wakeup_'+today_name %}
          {{ is_state('input_boolean.gabriela_wakeup_enabled', 'on') and is_state(entity_id, 'on') }}



  # converts the date/time uptime from WLed minutes: (for troubleshooting)
  - platform: template
    sensors:
      wledescritorio_uptime_minutes:
        friendly_name: "WLed Escritorio Uptime in Minutes"
        value_template: >
          {% set uptime = states('sensor.wledescritorio_uptime') %}
          {% set uptime_datetime = as_timestamp(uptime) %}
          {% set current_datetime = as_timestamp(now()) %}
          {{ ((current_datetime - uptime_datetime) / 60) | int }}
        unit_of_measurement: "Minutes"
  - platform: template
    sensors:
      wledrafael_uptime_minutes:
        friendly_name: "WLed Rafael Uptime in Minutes"
        value_template: >
          {% set uptime = states('sensor.wledrafael_uptime') %}
          {% set uptime_datetime = as_timestamp(uptime) %}
          {% set current_datetime = as_timestamp(now()) %}
          {{ ((current_datetime - uptime_datetime) / 60) | int }}
        unit_of_measurement: "Minutes"





# ----------------------------------------------------------------------------------
# Text to speech
# ----------------------------------------------------------------------------------
tts:
  - platform: google_translate
    service_name: google_say



# ----------------------------------------------------------------------------------
# Notification settings
#
# NOTE: make sure the Telegram Bot integration in the UI is configured in
# 'pooliong'  mode, or else the telegram bot automations will not work properly
#
# ----------------------------------------------------------------------------------
notify:

  - platform: telegram
    name: telegram
    chat_id: !secret telegram_chat_id_1


# load manually created automations from a subfolder:
# GUI- and blueprint- created automations are stored in confg/automations.yaml
# and a symlink under the automations folder allows it to be included:
# cd /root/config/automations
# ln -s ../automations.yaml gui_automations.yaml
automation: !include_dir_merge_list automations/


group: !include groups.yaml
script: !include scripts.yaml
scene: !include scenes.yaml


# ----------------------------------------------------------------------------------
# Binary sensors
# ----------------------------------------------------------------------------------

binary_sensor:
  
  # Binary sensor for high freezer temperature
  - platform: template
    sensors:
      freezer_is_warm:
        friendly_name: "Freezer temperature too high"
        value_template: >-
           {% if ((as_timestamp(now()) - as_timestamp(states('sensor.uptime'))) > 60) %}
           {{ float(states.sensor.freezer_internal_temperature.state) > -10.0 }}
           {% else %} 
           {{ False }}
           {% endif %}


# ----------------------------------------------------------------------------------
# Alerts
# ----------------------------------------------------------------------------------

alert:

  # Telegram alert for high freezer temperature
  freezer_is_warm:
    name: "Freezer temperature too high"
    entity_id: binary_sensor.freezer_is_warm
    repeat: 15
    skip_first: true
    notifiers:
      - telegram
    message: "Freezer temperature too high: {{ states.sensor.freezer_internal_temperature.state_with_unit }}"

  # Telegram alert is an entity is unavailable
  problem_with_entities:
    name: "Problem with one or more entities"
    entity_id: sensor.problem_check
    state: true
    repeat:
      - 10
      - 60
    skip_first: true
    notifiers:
      - telegram
    message: |-
      ```
      -----------------------------
           There is a problem:
      -----------------------------
      {%- set sensor = 'sensor.problem_status' %}
      {%- for attr in states[sensor].attributes %}
      {%- if (attr != 'friendly_name') %}
      {{ attr }}: {{ states[sensor].attributes[attr] }}
      {%- endif %}
      {%- endfor %}
      -----------------------------```


# ----------------------------------------------------------------------------------
# helper inputs for the two wake-up alarm lights
# ----------------------------------------------------------------------------------

# input_booleans to on/off days for the wake-up lights
input_boolean: 
  rafael_wakeup_enabled:
  rafael_wakeup_monday:
  rafael_wakeup_tuesday:
  rafael_wakeup_wednesday:
  rafael_wakeup_thursday:
  rafael_wakeup_friday:
  rafael_wakeup_saturday:
  rafael_wakeup_sunday:
  gabriela_wakeup_enabled:
  gabriela_wakeup_monday:
  gabriela_wakeup_tuesday:
  gabriela_wakeup_wednesday:
  gabriela_wakeup_thursday:
  gabriela_wakeup_friday:
  gabriela_wakeup_saturday:
  gabriela_wakeup_sunday:

# time of the wake-up alarms
input_datetime:
  rafael_wakeup_alarm_time:
    name: Rafael Wake-up time
    has_date: false
    has_time: true
  gabriela_wakeup_alarm_time:
    name: Gabriela Wake-up time
    has_date: false
    has_time: true


