# -----------------------------------------------------------------------------
# Secrets file template
# Manually copy into secrets.yaml and edit the values
# -----------------------------------------------------------------------------

# passwords and API keys
wifi_ssid: dummy
wifi_password: dummy
ota_password: dummy
emoncms_api_key: dummy
darksky_api_key: dummy

# sensitive coordinates
home_latitude: 0.0
home_longitude: 0.0
home_elevation: 0
work_latitude: 0.0
work_longitude: 0.0